<h1>Edit Question</h1>

<%= form_for( @question ) do |f| %>

<% if @question.errors.any? %>
<div>
	<h2><%= pluralize( @question.errors.count, "error" ) %> prohibited this post from being saved.</h2>

	<h2><%= pluralize( @pquestion.errors.count, "error" ) %> prohibited this post from being saved.</h2>
	<ul>
		<% @question.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="form-group">
	<%= f.label :title %>
	<%= f.text_field :title %>
</div>
<div class="form-group">
	<%= f.label :text %>
	<%= f.text_area :text, rows: '10' %>
</div>
<div class="form-group">
	<%= f.label :value %>
	<%= f.text_area :value %>
</div>

<div class="form-group">
	<%= f.submit class: 'btn btn-primary' %>
</div>
	

<% end %>



<%= link_to 'Back', questions_path, class: 'btn btn-default' %>
