<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @question.text %>
</p>

<p>
  <strong>Value:</strong>
  <%= @question.value %>
</p>

<%= link_to 'Edit Question', edit_question_path(@question), class: 'btn btn-warning' %>
<br>
<p></p>

<strong>Answers:</strong>
<%= render @question.answers %>

<p></p>

<strong>Add an Answer</strong>
<%#= link_to 'Add Answer', new_answer_path(@answer), class: 'btn btn-primary' %>

<p></p>

<%= link_to 'Back', questions_path, class: 'btn btn-default'  %>


  